<div class="wrapper">
  <app-header></app-header>
  <app-asside></app-asside>
  <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              <h1>
                Wednesday
                <small>08-05-2019</small>
              </h1>
              <ol class="breadcrumb">
                <li><a href="#"> Home</a></li>
                <li><a href="#">userContract
                  </a></li>
              </ol>
            </section>
            <!-- Main content -->
            <section class="content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">userContract</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="form-inline dt-bootstrap">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="dataTables_length">
                              <label>Show <select name="example1_length" aria-controls="example1"
                                  class="form-control input-sm">
                                  <option value="10">10</option>
                                  <option value="25">25</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                                </select> entries </label>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="dataTables_filter right-search">
                              <input type="search" class="form-control input-sm" placeholder="search"
                                aria-controls="example1">
                            </div>
                          </div>
                        </div>
                        <table id="example2" class="table table-bordered table-hover org organization-table">
                          <thead>
                            <tr>
                              <th>
                                logo
                              </th>
                              <th>About contract</th>
                              <th> Contract date </th>
                              <th> Action </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><img src="../../../assets/images/org1.png" alt="organization-img" /></td>
                              <td>Contract1</td>
                              <td>2-3-202</td>
                              <td class=" text-center">
                                  <button routerLink="/contractdetails" type="button" class="edit-button btn btn-success" type="button" data-toggle="modal"
                                  data-target=".organize-edit">
                                  <i class="fa fa-eye"></i>
                                  </button>                       
                                </td>
                            </tr>
                            <tr>
                              <td><img src="../../../assets/images/org1.png" alt="organization-img" /></td>
                              <td>Contract2
                              </td>
                              <td>Win 95+</td>
                              <td class=" text-center">
                                  <button routerLink="/contractdetails" type="button" class="edit-button btn btn-success" type="button" data-toggle="modal"
                                  data-target=".organize-edit">
                                  <i class="fa fa-eye"></i>
                                  </button>
                              </td>
                            </tr>
                            <tr>
                              <td><img src="../../../assets/images/org1.png" alt="organization-img" /></td>
                              <td>Contract3
                              </td>
                              <td>Win 95+</td>
                              <td class=" text-center">
                                  <button routerLink="/contractdetails" type="button" class="edit-button btn btn-success" type="button" data-toggle="modal"
                                  data-target=".organize-edit">
                                  <i class="fa fa-eye"></i>
                                  </button>                       
                                </td>
                            </tr>
                            <tr>
                              <td><img src="../../../assets/images/org1.png" alt="organization-img" /></td>
                              <td>Contract4
                              </td>
                              <td>Win 95+</td>
                              <td class=" text-center">
                                  <button routerLink="/contractdetails" type="button" class="edit-button btn btn-success" type="button" data-toggle="modal"
                                  data-target=".organize-edit">
                                  <i class="fa fa-eye"></i>
                                  </button>                      
                                 </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                          <div class="pagination-table">
                            <ul class="pagination">
                              <li class="paginate_button previous disabled" id="table_ratings_previous">
                                <a href="#" aria-controls="table_ratings" data-dt-idx="0">
                                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a></li>
                              <li class="paginate_button active">
                                <a href="#" aria-controls="table_ratings">1</a>
                              </li>
                              <li class="paginate_button">
                                <a href="#" aria-controls="table_ratings">2</a>
                              </li>
                              <li class="paginate_button next" id="table_ratings_next">
                                <a href="#" aria-controls="table_ratings" data-dt-idx="6" tabindex="0">
                                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </section>
  </div>
<app-footer></app-footer>