.arabic-lang,
.english-lang{
    width:30px;
    height:30px;
    margin-top:10px;
    float:right
}
.english-lang{
    display: none
}
.arabic-lang:hover,
.english-lang:hover
{
    cursor: pointer;
}