<aside class="main-sidebar">
    <!-- sidebar -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../../assets/images/user.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a routerLink="/homepage">
            <i class="fa fa-user" aria-hidden="true"></i><span>جميع العملاء</span>
          </a>
        </li>
        <li>
          <a routerLink="/adduser">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>إضافة عميل</span>
          </a>
        </li>
        <li>
          <a routerLink="/addcontract">
            <i class="fa fa-hospital-o" aria-hidden="true"></i>
            <span>إضافة عقد</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>