<div class="wrapper">
  <app-header></app-header>
  <app-asside></app-asside>
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
            Marsa contract details 
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"> Home</a></li> 
          <li><a href="#"> contract details 
          </a></li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content"> 
 
          <div class="row">
            <div class="col-xs-12">
                <div class="box-header">
                    <h3 class="box-title">
                        Contract details</h3>
                        <div class="pull-right">
                            <button type="button" class="btn btn-success add-user" type="button" data-toggle="modal"
                            data-target=".Payment-add">
                            <i class="glyphicon glyphicon-plus"></i> Add payment </button>
                        </div>
                  </div>
              </div>
              <div class="col-md-12">
                <div class="profile-box nav-tabs-custom">
                    <div class="profile-form">
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label  class="col-sm-3 control-label">Conract start</label>
                          <div class="col-sm-9">
                            <p class="form-control-static"> 1 January 2019 </p>
                          </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Conract end</label>
                            <div class="col-sm-9">
                              <p class="form-control-static"> 1 January 2020 </p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Conract details</label>
                            <div class="col-sm-9">
                                <p class="form-control-static"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque non blanditiis culpa facere quidem rerum quibusdam maiores et, laborum at repellat aliquam odio corporis incidunt. Similique qui temporibus dolore adipisci. Exercitationem ducimus ex laborum corporis repudiandae deleniti, minima eum id voluptas voluptates dignissimos esse. Voluptatibus exercitationem quis atque incidunt sunt! </p>
                              </div>
                        </div>
                      </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.nav-tabs-custom -->
              </div>
              <!-- /.col -->
              <div class="col-md-12">
                  <div class="box-header">
                      <h3 class="box-title">Financial payments </h3>
                    </div>
                  <div class="profile-box nav-tabs-custom">
                      <div class="profile-form">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label  class="col-sm-3 control-label">payment 1</label>
                            <div class="col-sm-9">
                              <p class="form-control-static">1000 LE In 2-2-2020</p>
                            </div>
                          </div>
                          <div class="form-group">
                              <label  class="col-sm-3 control-label">payment 2</label>
                              <div class="col-sm-9">
                                <p class="form-control-static">1000 LE In 2-2-2020</p>
                              </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-3 control-label">payment 3</label>
                                <div class="col-sm-9">
                                  <p class="form-control-static">1000 LE In 2-2-2020</p>
                                </div>
                              </div>
                        </form>
                      </div>
                      <!-- /.tab-pane -->
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>
                <div class="col-md-12">
                    <div class="box-header">
                        <h3 class="box-title">
                            Anchorage</h3>
                            <div class="pull-right">
                                <button type="button" class="btn btn-success add-user" type="button" data-toggle="modal"
                                data-target=".Anchorage-add">
                                <i class="glyphicon glyphicon-plus"></i> Add Anchorage </button>
                            </div>
                      </div>
                    <div class="profile-box nav-tabs-custom">
                        <div class="profile-form">
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label  class="col-sm-3 control-label">Anchorage 1</label>
                              <div class="col-sm-9">
                                <input class="form-control" value="lorem lorem lorem lorem">
                              </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-3 control-label">Anchorage 2</label>
                                <div class="col-sm-9">
                                    <input class="form-control" value="lorem lorem lorem lorem">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label  class="col-sm-3 control-label">Anchorage 3</label>
                                  <div class="col-sm-9">
                                      <input class="form-control" value="lorem lorem lorem lorem">
                                    </div>
                                </div>
                            <div class="form-group">
                              <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="save-btn btn btn-primary">Save</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                  </div>
            </div>           
      </section>
      <!-- /.content -->
    </div>

<app-footer></app-footer>
</div>
<div class="modal fade Anchorage-add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel"> <i class="fa fa-plus"></i> Add Anchorage
                </h4>
            </div>
            <div class="modal-body">
                <div class="profile-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Anchorage Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" placeholder="Anchorage name">
                              </div>
                          </div>
                    </form>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</div>
<div class="modal fade Payment-add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel"> <i class="fa fa-plus"></i> Add Payment
                </h4>
            </div>
            <div class="modal-body">
                <div class="profile-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Payment amount</label>
                            <div class="col-sm-9">
                                <input class="form-control" placeholder="Payment amount">
                              </div>
                          </div>
                    </form>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</div>

