<div class="wrapper">
  <app-header></app-header>
  <app-asside></app-asside>
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
            Marsa contract details 
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"> الصفحة الرئيسية</a></li> 
          <li><a href="#"> تفاصيل العقد
          </a></li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content"> 
 
          <div class="row">
            <div class="col-xs-12">
                <div class="box-header">
                    <h3 class="box-title">
                        تفاصيل العقد</h3>
                        <div class="pull-right">
                            <button type="button" class="btn btn-success add-user" type="button" data-toggle="modal"
                            data-target=".Payment-add">
                            <i class="glyphicon glyphicon-plus"></i> إضافة دفعة مالية </button>
                        </div>
                  </div>
              </div>
              <div class="col-md-12">
                <div class="profile-box nav-tabs-custom">
                    <div class="profile-form">
                        <form class="form-horizontal">
                            <div class="form-group">
                              <label  class="col-sm-2 control-label">تاريخ التعاقد</label>
                              <div class="col-sm-9">
                                  <p class="form-control-static">2-2-1090</p>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label"> اسم المرسى / اسم المؤسسه </label>
                              <div class="col-sm-9">
                                  <p class="form-control-static">محمد</p>
                              </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"> اسم العميل</label>
                                <div class="col-sm-9">
                                  <p class="form-control-static">محمد احمد</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">المبلغ قبل الضريبه</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">58589</p>
                              </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">الضريبه</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">58589</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">المبلغ بعد الضريبه</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">58589</p>
                                </div>
                            </div>
                            <div class="form-group">
                              <label  class="col-sm-2 control-label"> نوع الدفعه </label>
                              <div class="col-sm-9">
                                  <p class="form-control-static">دفعة واحدة</p>
                              </div>
                          </div>
                          <div class="form-group">
                                <label  class="col-sm-2 control-label"> الفترة من </label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">1-1-2020</p>
                                </div>
                                </div>
                                <div class="form-group">
                                <label  class="col-sm-2 control-label"> إلى </label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">2-2-2020</p>
                                </div>                           
                          </div>
                          <div class="form-group">
                              <label  class="col-sm-2 control-label">  اسم الواسطه </label>
                              <div class="col-sm-9">
                                  <p class="form-control-static">نتانتنت</p>
                                </div>
                              </div>
                              <div class="form-group">
                              <label  class="col-sm-2 control-label"> حروف الواسطة </label>
                            <div class="col-sm-9">
                                <p class="form-control-static">محمج</p>
                              </div>
                            </div>
                            <div class="form-group">
                              <label  class="col-sm-2 control-label"> طول الواسطة </label>
                              <div class="col-sm-9">
                                  <p class="form-control-static">58589</p>
                                </div>
                              </div>
                              <div class="form-group">
                              <label  class="col-sm-2 control-label"> عرض الواسطة </label>
                              <div class="col-sm-9">
                                  <p class="form-control-static">58589</p>
                                </div>
                              </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="save-btn btn btn-primary">حفظ</button>
                            </div>
                          </div>
                          </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.nav-tabs-custom -->
              </div>
              <!-- /.col -->
              <div class="col-md-12">
                  <div class="box-header">
                      <h3 class="box-title">الدفعات المالية</h3>
                    </div>
                  <div class="profile-box nav-tabs-custom">
                      <div class="profile-form">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label  class="col-sm-3 control-label">payment 1</label>
                            <div class="col-sm-9">
                              <p class="form-control-static">1000 LE In 2-2-2020</p>
                            </div>
                          </div>
                          <div class="form-group">
                              <label  class="col-sm-3 control-label">payment 2</label>
                              <div class="col-sm-9">
                                <p class="form-control-static">1000 LE In 2-2-2020</p>
                              </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-3 control-label">payment 3</label>
                                <div class="col-sm-9">
                                  <p class="form-control-static">1000 LE In 2-2-2020</p>
                                </div>
                              </div>
                        </form>
                      </div>
                      <!-- /.tab-pane -->
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>
                <div class="col-md-12">
                    <div class="box-header">
                        <h3 class="box-title">
                            المراسي</h3>
                            <div class="pull-right">
                                <button type="button" class="btn btn-success add-user" type="button" data-toggle="modal"
                                data-target=".Anchorage-add">
                                <i class="glyphicon glyphicon-plus"></i> إضافة مرسى </button>
                            </div>
                      </div>
                    <div class="profile-box nav-tabs-custom">
                        <div class="profile-form">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <a>
                                        المرسى اﻷولي
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label">إسم المرسى</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label">عدد المواقف </label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label"> المساحة </label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label"> الموقع </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label"> الرقم الضريبي </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control">
                                                  </div>
                                              </div>
                                        </form>                                    </div>
                                  </div>
                                </div>
                                <div class="panel panel-default">
                                  <div class="collapsed panel-heading"  aria-expanded="false" aria-controls="collapseTwo" role="tab" id="headingTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <h4 class="panel-title">
                                      <a>
                                        المرسى الثاني
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label">إسم المرسى</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label">عدد المواقف </label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label"> المساحة </label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label"> الموقع </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control">
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <label  class="col-sm-3 control-label"> الرقم الضريبي </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control">
                                                  </div>
                                              </div>
                                        </form>                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                  </div>
            </div>           
      </section>
      <!-- /.content -->
    </div>

<app-footer></app-footer>
</div>
<div class="modal fade Anchorage-add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel"> <i class="fa fa-plus"></i> إضافة مرسى
                </h4>
            </div>
            <div class="modal-body">
                <div class="profile-form">
                  <form class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">إسم المرسى</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                          </div>
                      </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">عدد المواقف </label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control">
                          </div>
                      </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label"> المساحة </label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control">
                          </div>
                      </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label"> الموقع </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                          </div>
                      </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label"> الرقم الضريبي </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                          </div>
                      </div>
                </form>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">حفظ</button>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</div>
<div class="modal fade Payment-add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel"> <i class="fa fa-plus"></i> إضافة دفعة مالية
                </h4>
            </div>
            <div class="modal-body">
                <div class="profile-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">إسم العميل</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                              </div>
                          </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label"> التاريخ </label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control">
                              </div>
                          </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label"> المبلغ </label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control">
                              </div>
                          </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label"> نوع الدفعة </label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option> دفعة واحدة </option>
                                    <option> دفعتين </option>
                                    <option> اربع دفعات </option>
                                    <option> شهري </option>
                                  </select>
                              </div>
                          </div>
                    </form>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">حفظ</button>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</div>

