.form-control-static
{
    border:1px solid #d2d6de;
    color:#909090;
    padding-left:1%;
}
.profile-box
{
    padding-top:3%;
}
.Payment-add
{
    margin-bottom:4%;
}
.panel-group
{
    margin-left:1%;
    margin-right:1%;
}
.profile-box h4
{
    border-bottom:none;
    padding-bottom:0%;
}
.panel-default>.panel-heading
{
    background-color:#fff;
}
.panel
{
    margin-bottom:1%;
}